@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
}

/* CSS ROOT Variables for TopLabel */
:root {
  --tl-primary-color: #72a201;
  --tl-secondary-color: #1a1a1a;

  --tl-text-color: #333;
  --tl-text-secondary-color: #666;
  --tl-text-light-color: #f4f4f4;

  --tl-primary-font: 'Roboto', sans-serif;
}

/* General Styles Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: var(--tl-primary-font);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Form Floating Labels Reset */
.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.825rem;
}
.form-floating>.form-select {
    padding-top: 1.825rem;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(3.8rem + calc(var(--bs-border-width) * 2));
}

.modal-title {
  font-weight: 900;
}

.background-login{
  display: flex;
  flex-direction: column;
  justify-content: center!important;
  background-image: url('../images/bg-toplabel_3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.table-responsive {
  position: relative;
  max-width: 80%;
  max-height: 70vh;
  overflow-y: auto;
}
table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.copyright-bar {
  font-size: 14px;
  letter-spacing: .5px;
  background-color: black;
  color: var(--tl-text-light-color);
  padding: 20px 0;
  text-align: center;
  margin: 0;
}
.nav-link {
    padding: 20px .5rem!important;
}
.dropdown-divider {
    border-top: 5px solid var(--bs-dropdown-divider-bg)!important;
}
.tl-icon {
  min-width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.tl-icon-xl{
  padding: .35rem;
  font-size: 1.2rem;
}

.tl-pagination-md {
    --bs-pagination-padding-x: 1rem;
    --bs-pagination-padding-y: .4rem;
    --bs-pagination-font-size: 1.1rem;
}